body {
	font-family: hero;
	background-color: #93ba99;
	background-image: url("../Image/medford1-5.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-attachment: fixed;
	}
.clear {
  clear:both;
	}
.sidebar {
	top: 0px;
	left: 20px;
	border: 1px solid clear;
	background-color: rgba(147, 186, 148, .75);
	width: 200px;
	height: 100%;
	position:fixed;
	padding: 0px;
	}
.sidebar .logo {
	padding-left: 20px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	}
.sidebar .logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 120px;
	float: left;
	margin: 20px;
	margin-bottom: 50px;
	}
.sidebar .menu {
	margin-top:170px;
	margin-left: 0px;
	padding-left: 0px;
	}
.sidebar .menu ul {
	list-style-type: none;
	margin-left: 0px;
	margin-bottom: 80px;
	}
.sidebar .menu ul li {
	margin-left: 0px;
	margin-top:30px;
	margin-bottom:30px;
	}
.sidebar .menu ul li a {
	display: block;
	text-align: center;
	width: 160px;
	margin: -40px;
	margin-top: 50px;
	font-size: 18px;
	text-decoration: none;
	color: #5a4b42;
	padding:15px 20px 15px 20px;
	transition: background-color 500ms linear;
	}
.sidebar .menu ul li a:hover {
	text-decoration: none;
	color: #fff;
	opacity: 0.75;
	padding:15px 20px 15px 20px;
	background-color: #93ba9c;
	}
.sidebar .menu ul li a:active {
	text-decoration: none;
	color: #fff;
	opacity: 0.75;
	padding:15px 20px 15px 20px;
	background-color: #034926;
	}
.sidebar .menu h1 {
	font-family: bodoni;
	color: #5a4b42;
	margin-left: 0px;
	margin-top: 8px;
	font-size: 11px;
	text-align: center;
	}

.links {
	border: 1px solid clear;
	background-color: rgba(147, 186, 148, .75);
	max-width: 500px;
	height: 400px;
	position:relative;
	padding: 15px;
	margin: auto;
	margin-top: 150px;
	color: #5a4b42;
	margin-left:300px;
	height: auto;
	display:block;
	overflow:auto;
	}

.links h1 {
	text-align: center;
	display: block;
	margin-top: 20px;
	font-size: 30px;
	text-decoration: none;
	color: #5a4b42;
	padding: 15px;
	}
	
.links h2 {
	font-family: Seravek;
	font-weight: lighter;
	text-align: center;
	display: block;
	font-size: 22px;
	text-decoration: none;
	color: #5a4b42;
	}
	
@media(max-width:910px) {
.links {
	margin-left: 250px;
	max-width: 400px;
	}
    }	
    
@media(max-width:700px) {
.links {
	margin-left: 220px;
	max-width: 300px;
	}
}

@media(max-width:600px) {
.links {
	margin-left: 220px;
	max-width: 250px;
	}
}

@media(max-width:520px) {
.links {
	margin-left: 160px;
	max-width: 300px;
	}
.sidebar {
	top: 0px;
	left: 10px;
	max-width: 150px;
	}
.sidebar .logo img {
	max-width: 80px;
	margin: 20px;
	}
.sidebar .menu ul li a {
	max-width: 150px;
	padding:15px 0px 15px 0px;
	}
.sidebar .menu ul li a:hover {
	padding:15px 0px 15px 0px;
	}
.sidebar .menu ul li a:active {
	padding:15px 0px 15px 0px;
	}
    }

@media(max-width:420px) {
.links {
	margin-left: 110px;
	max-width: 300px;
	}
.sidebar {
	top: 0px;
	left: 10px;
	max-width: 100px;
	}
.sidebar .logo img {
	max-width: 60px;
	margin: 0px;
	margin-top: 20px;
	}
.sidebar .menu ul li a {
	max-width: 100px;
	}
    }
